<?xml version="1.0" encoding="UTF-8" ?>
<!--<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"-->
<!--        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!--    post processor bean-->
    <bean class="org.springApp.MyBeanFactoryPostProcessor"/>
    <!--    for required-->
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
    <!--    for resource-->
    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>
    <bean id="center" class="org.springApp.Point">
        <property name="x" value="20"/>
        <property name="y" value="0"/>
    </bean>

    <bean id="message" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename">
            <value>pointsconfig</value>
        </property>
    </bean>

    <!--    <context:annotation-config/>-->
    <context:component-scan base-package="org.springApp"/>

</beans>
