<?xml version="1.0" encoding="UTF-8" ?>
<!--<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"-->
<!--        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">-->
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--    post processor bean-->
    <bean class="org.springApp.MyBeanFactoryPostProcessor"/>
    <bean class="import org.springframework.beans.factory.annotation.Autowired"/>

<!--    property file-->
    <!--<bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="locations" value="classpath:pointsconfig.properties"/>
    </bean>
    <bean id="triangle" class="org.springApp.Triangle">
        <constructor-arg index="0" type="java.lang.String" value="${type}"/>
        <constructor-arg index="1" value="10"/>
    </bean>
-->
    <!--<bean id="pointA" class="org.springApp.Point">
        <property name="x" value="${pointA.x}"/>
        <property name="y" value="${pointA.y}"/>
    </bean>-->
    <bean id="pointB" class="org.springApp.Point">
        <property name="x" value="20"/>
        <property name="y" value="0"/>
    </bean>

    <!--<bean id="pointTriangle" class="org.springApp.PointTriangle">
        <property name="pointA" ref="aPoint"/>
        &lt;!&ndash;        inner bean&ndash;&gt;
        <property name="pointB">
            <bean class="org.springApp.Point">
                <property name="x" value="-20"/>
                <property name="y" value="0"/>
            </bean>
        </property>
        &lt;!&ndash;        id-ref&ndash;&gt;
        <property name="pointC" ref="cPoint"/>
        &lt;!&ndash;<property name="pointC" >
            <idref bean="cPoint"/>
        </property>&ndash;&gt;
    </bean>-->
    <!--<bean id="pointC" class="org.springApp.Point">
        <property name="x" value="0"/>
        <property name="y" value="20"/>
    </bean>
    <bean id="pointD" class="org.springApp.Point">
        <property name="x" value="0"/>
        <property name="y" value="-20"/>
    </bean>

    <alias name="pointTriangle" alias="trianglePoint"/>

    <bean id="square" class="org.springApp.Square">
        <property name="squarePoints">
            <list>
                <ref bean="pointA"/>
                <ref bean="pointB"/>
                <ref bean="pointC"/>
                <ref bean="pointD"/>
            </list>
        </property>
    </bean>

    <bean id="pointTriangle" class="org.springApp.PointTriangle" autowire="byName"/>

    <bean id="parentTriangle" class="org.springApp.Triangle">
        <property name="height" value="13"/>
    </bean>

    <bean id="childTriangle" class="org.springApp.Triangle" parent="parentTriangle">
&lt;!&ndash;        <property name="height" value="7"/>&ndash;&gt;
        <property name="type" value="isosceles"/>
    </bean>-->

    <bean id="circle" class="org.springApp.Circle">
<!--        <property name="center" ref="pointA"/>-->
    </bean>

</beans>
